/* Reset */

html, body, section, ul, li, h1, big {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

ul {
  list-style: none;
}

/* Typography */

body {
  font-family: lucida grande;
  text-align: center;
  padding: 15px;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

big {
  font-size: 20px;
}

/* Game */

#game-container {
  display: inline-block;
  margin: 0 auto;
  text-align: right;
}

#game-display {
 width: 567px;
 background: #262626;
 border: 10px gray solid;
 border-radius: 5px;
}

#game-display:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  float: left;
  color: white;
}

li {
  width: 25px;
  height: 25px;
  border: 1px solid #262626;
}

.snake {
  border: solid white 1px;
  border-radius: 10px;
}

.apple {
  background: red;
  border-radius: 50px;
}

#score {
  color: green;
}




