/* Reset */

html, body, section, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

ul {
  list-style: none;
}

/* Typography */

body {
  font-family: lucida grande;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

/* Game */

#game-display{
 width: 567px;
 background: #262626;
 margin: 20px auto;
 border: 10px gray solid;
 border-radius: 5px;
}

#game-display:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  float: left;
  color: white;
}

li {
  width: 25px;
  height: 25px;
  border: 1px solid #262626;
}

.snake {
  border: solid white 1px;
  border-radius: 10px;
}




